<div nz-row class="profil-container-items">
    <div nz-col nzSpan="6" ></div>
    <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4" class="profil-col">
        <div class="profil"></div>
    </div>
    <div nz-col nzSpan="6" class="profil-col">
        <div nz-row>

            <h2>Sylvie Dupont</h2>
            <span nz-icon nzType="edit" nzTheme="fill" style="font-size: 40px" nz-flex [nzJustify]="justifySegment[1]"></span>
        </div>
        <h3>Assistante administrative</h3>
        <h3>Société</h3>
    </div>
</div>
<div nz-row class="profil-container-items">
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="6" class="profil-col">

    </div>
    <div nz-col nzSpan="6" class="profil-col">
        <h2>Sylvie Dupont</h2>
    </div>
    <div nz-col nzSpan="6"></div>
</div>
<div nz-row class="profil-container-items">
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="6" class="profil-col">

    </div>
    <div nz-col nzSpan="6" class="profil-col">
        <h2>Sylvie Dupont</h2>
    </div>
    <div nz-col nzSpan="6"></div>
</div>
