<nz-table #nzTable [nzData]="tuyauDeUsers" nzTableLayout="fixed">
    <thead>
    <tr>
        <!--        <th nzWidth="60px"></th>-->
        <th>Nom</th>
        <th>Prénom</th>
        <th>Age</th>
        <th>Adresse</th>
        <th>Envoyer</th>
    </tr>
    </thead>
    <tbody>
    <ng-container>

        @for (user of tuyauDeUsers; track user.user_id) {
            <tr>

                <td>{{ user.name }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.address }}</td>
                <td>
                    <nz-upload
                        nzType="drag"
                        [nzMultiple]="true"
                        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                        (nzChange)="handleChange($event)"
                    >
                        <p class="ant-upload-drag-icon">
                            <span nz-icon nzType="inbox"></span>
                            Déposer fichier
                        </p>


                    </nz-upload>
                </td>
            </tr>


        }
    </ng-container>

    </tbody>
</nz-table>
