<nz-table [nzData]="tuyauDeDevices" nzTableLayout="fixed">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>QR Code</th>
    </tr>
    </thead>
    <tbody>
    <ng-container>

        @for (device of tuyauDeDevices; track device.id) {
            <tr>
                <td><span nz-icon nzType="tablet" nzTheme="fill" style="color:#00000050; font-size: 50px;"></span>{{ device.name }}</td>
                <td>{{ device.price | currency: 'EUR' : 'symbol' : '2.2-2' : 'fr' }}</td>
                <td>{{ device.qr_code }}</td>
            </tr>


        }
    </ng-container>

    </tbody>
</nz-table>
