<button nz-button (click)="show = !show" nzType="primary">Ajouter un appareil<span nz-icon nzType="down"></span></button>
@if(show){
    <h2>Formulaire pour ajouter un device</h2>
    <app-add-device/>
}
<br />
<br />
<nz-table #nzTable [nzData]="tuyauDeDevices" nzTableLayout="fixed">
    <thead>
    <tr>
        <!--        <th nzWidth="60px"></th>-->
        <th>Nom</th>
        <th>Prix</th>
        <th>QR Code</th>

    </tr>
    </thead>
    <tbody>
    <ng-container>

        @for (device of tuyauDeDevices; track device.device_id) {
            <tr>

                <td>{{ device.name }}</td>
                <td>{{ device.price }}</td>
                <td>{{ device.qr_code }}</td>

                <td>
                    <nz-upload
                        nzType="drag"
                        [nzMultiple]="true"
                        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                        (nzChange)="handleChange($event)"
                    >
                        <p class="ant-upload-drag-icon">
                            <span nz-icon nzType="inbox"></span>
                            Déposer fichier
                        </p>


                    </nz-upload>
                </td>
            </tr>


        }
    </ng-container>

    </tbody>
</nz-table>
