<nz-table [nzData]="tuyauDeDevices" nzTableLayout="fixed">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>QR Code</th>
    </tr>
    </thead>
    <tbody>
    <ng-container>

        @for (device of tuyauDeDevices; track device.device_id) {
            <tr>

                <td>{{ device.name }}</td>
                <td>{{ device.price | currency: 'EUR' : 'symbol' : '3.2-2' : 'fr' }}</td>
                <td>{{ device.qr_code }}</td>

                <td>
                    <nz-upload
                        nzType="drag"
                        [nzMultiple]="true"
                        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                        (nzChange)="handleChange($event)"
                    >
                        <p class="ant-upload-drag-icon">
                            <span nz-icon nzType="inbox"></span>
                            Déposer fichier
                        </p>


                    </nz-upload>
                </td>
            </tr>


        }
    </ng-container>

    </tbody>
</nz-table>
