<span nz-icon nzType="message" nzTheme="fill" class="IMIcon" (click)="chatIsOpen = !chatIsOpen"></span>
<div *ngIf="chatIsOpen" class="chat">
    <div class="chat-title">
        <h1>{{ recipient?.name || 'Sélectionnez un utilisateur' }}</h1>
        <span nz-icon nzType="close" nzTheme="outline" (click)="chatIsOpen = !chatIsOpen"></span>
        <figure class="avatar">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" />
        </figure>
    </div>
    <div class="user-list">
        <nz-select [(ngModel)]="recipient" (ngModelChange)="selectRecipient($event)" placeholder="Sélectionnez un utilisateur">
            <nz-option *ngFor="let user of users" [nzValue]="user" [nzLabel]="user.name"></nz-option>
        </nz-select>
    </div>
    <div class="messages">
        <div class="messages-content">
            <div *ngFor="let message of messages" class="message" [ngClass]="{'message-personal': message.senderId === currentUser.id, 'message-received': message.senderId !== currentUser.id}">
                <figure class="avatar">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg">
                </figure>
                {{ message.content }}
                <div class="timestamp">{{ message.timestamp | date:'short' }}</div>
            </div>
        </div>
    </div>
    <div class="message-box">
        <textarea [(ngModel)]="newMessageContent" type="text" class="message-input" placeholder="Ecrivez votre message"></textarea>
        <button (click)="sendMessage()" type="submit" class="message-submit">Envoyer</button>
    </div>
</div>
