<span nz-icon nzType="message" nzTheme="fill" class="IMIcon" (click)="chatIsOpen = !chatIsOpen"></span>
@if (chatIsOpen) {
<nz-card style="width:300px;" nzTitle="Discussion" [nzExtra]="extraTemplate" class="chat">
    <div class="chat-history">
        <ul>
            <li class="clearfix">
                <div class="message-data align-right">
                    <span class="message-data-time" >10:10 AM, Aujourd'hui</span> &nbsp; &nbsp;
                    <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>

                </div>
                <div class="message other-message float-right">
                    Hi Vincent, how are you? How is the project coming along?
                </div>
            </li>

            <li>
                <div class="message-data">
                    <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                    <span class="message-data-time">10:12 AM, Aujourd'hui</span>
                </div>
                <div class="message my-message">
                    Are we meeting Aujourd'hui? Project has been already finished and I have results to show you.
                </div>
            </li>

            <li class="clearfix">
                <div class="message-data align-right">
                    <span class="message-data-time" >10:14 AM, Aujourd'hui</span> &nbsp; &nbsp;
                    <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>

                </div>
                <div class="message other-message float-right">
                    Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                </div>
            </li>

            <li>
                <div class="message-data">
                    <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                    <span class="message-data-time">10:20 AM, Aujourd'hui</span>
                </div>
                <div class="message my-message">
                    Actually everything was fine. I'm very excited to show this to our team.
                </div>
            </li>

            <li>
                <div class="message-data">
                    <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                    <span class="message-data-time">10:31 AM, Aujourd'hui</span>
                </div>
                <i class="fa fa-circle online"></i>
                <i class="fa fa-circle online" style="color: #AED2A6"></i>
                <i class="fa fa-circle online" style="color:#DAE9DA"></i>
            </li>

        </ul>

    </div> <!-- end chat-history -->
    <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>

        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>

        <button>Send</button>
    </div>
    <!--                        <div>-->


    <!--                            <div class="chat-container message">-->
    <!--                            <p class="">Je suis l'expéditeur, je t'envoie un message qui devrait bien s'afficher</p>-->
    <!--                            <p> {{ currentDate | date }} </p>-->
    <!--                            </div>-->
    <!--                        <div class="chat-container message">-->

    <!--                            <p class="">Je suis le destinataire</p>-->
    <!--                            <p> {{ currentDate | date }} </p>-->
    <!--                        </div>-->
    <!--                        </div>-->
    <!--                            <div nz-flex nzJustify="stretch">-->

    <!--                                <input type="text" name="" id="" nz-input>-->
    <!--                                <span nz-icon nzType="send" nzTheme="outline"-->
    <!--                                      style="font-size: 24px; color: #08c;"></span>-->
    <!--                            </div>-->


</nz-card>
<ng-template #extraTemplate>
                        <span nz-icon nzType="close" nzTheme="outline" class="chat-cross"
                              (click)="chatIsOpen = !chatIsOpen"></span>

</ng-template>
}
