<span nz-icon nzType="message" nzTheme="fill" class="IMIcon" (click)="chatIsOpen = !chatIsOpen"></span>
@if (chatIsOpen) {
    <div class="chat">
        <div class="chat-title">
            <h1>Yann Doublet</h1>
<span nz-icon nzType="close" nzTheme="outline" (click)="chatIsOpen = !chatIsOpen"></span>
            <figure class="avatar">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" /></figure>
        </div>
        <div class="messages">
            <div class="messages-content"><div class="message new"><figure class="avatar"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg"></figure>Hi there, I'm Fabio and you?<div class="timestamp">14:27</div></div>
                <div class="message message-personal new">yeah<div class="timestamp">14:28</div></div>
            </div>
        </div>
        <div class="message-box">
            <textarea type="text" class="message-input" placeholder="Ecrivez votre message"></textarea>
            <button type="submit" class="message-submit">Envoyer</button>
        </div>

    </div>

}
