<button nz-button nzType="primary">Ajouter un dossier</button>
<br />
<br />
<nz-table nzBordered [nzData]="tuyauDeDirectory">
    <thead>
    <tr>
        <th nzWidth="30%">Id répertoire</th>
        <th>Nom du répertoire</th>
        <th>Id utilisateur</th>

    </tr>
    </thead>
    <tbody>
        @for (directory of tuyauDeDirectory; track directory.directory_id){

    <tr class="editable-row">
        <td>{{ directory.directory_id }}</td>
        <td>{{ directory.name }}</td>
        <td>{{ directory.user_id }}</td>

    </tr>
        }
    </tbody>
</nz-table>
