<!--Le nzCount servira à binder le nombre de notifications-->
<nz-badge [nzCount]="5" style="margin-right: 24px;" class="user-icon">

<span nz-icon nzType="user" nzTheme="outline" nz-popover
      nzPopoverTitle="Title"
      [(nzPopoverVisible)]="visible"
      (nzPopoverVisibleChange)="change($event)"
      nzPopoverTrigger="click"
      [nzPopoverContent]="contentTemplate"
      nzPopoverPlacement="bottomRight"></span>
</nz-badge>

<ng-template #contentTemplate>
    <a routerLink="welcome/profil">Mes informations</a>
    <p>Editer mon profil</p>
    <a routerLink="welcome/notification">Notifications</a>
    <p>Se déconnecter</p>
    <a (click)="clickMe()">Fermer</a>
</ng-template>
